/* CustomToast.css */
.toast-success {
    background-color: #4caf50;
    /* Green */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.toast-error {
    background-color: #f44336;
    /* Red */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.toast-success h4,
.toast-error h4 {
    margin: 0;
}

.toast-success p,
.toast-error p {
    margin: 5px 0 0 0;
}